body
{
background-image:url();
	
}
h1
{
	text-align: center;
}
.formed
{
	padding-top: 5%;
	padding-left: 20%;
	padding-right: 20%;
}
.centre
{
	margin-left:45%;
}
.patient
{
	border: 1px;
	padding-top: 10%;
}
.non
{
	background-image: url(f.jpg);
	
}
img
{
	height: 130px;
	widows: 130px;
	
}